/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import "./overdide-primeng.scss";
body,
html {
  background-color: #222222;
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
// .background-in-dialog{
//   background: ;
// }
.color-toast-message {
  color: rgba(255, 255, 255, 0.815);
}
